:root {
  --color-base-01: #202028;
  --color-base-01--dark: #000000;
  --color-base-01--light: #3c3c47;

  --color-base-02: #d6dad9;
  --color-base-02--dark: #afafaf;
  --color-base-02--light: #fafafa;
  --color-base-02--light-shadow: rgba(250, 250, 250, 0.4);

  --color-text--dark: #587193;
  --color-text--light: #253c5b;

  --color-notice-primary--light: rgba(14, 101, 138, 0.4);
  --color-notice-primary--default: #0e658a;
  --color-notice-primary--dark: #09445d;
  --color-notice-secondary--light: rgba(243, 197, 47, 0.4);
  --color-notice-secondary--default: #f3c52f;
  --color-notice-secondary--dark: #e79510;

  --color-notice-default: #fafafa;
  --color-notice-default--dark: #d5d4d4;
  --color-notice-default--background: #fafafa;
  --color-notice-default--text: #253c5b;

  --color-notice-success--light: rgba(35, 165, 122, 0.4);
  --color-notice-success--default: #23a57a;
  --color-notice-success--text: #fafafa;
  --color-notice-success--dark: #0f6246;
  --color-notice-success--background: #23a57a;

  --color-notice-warning--light: rgba(255, 170, 85, 0.4);
  --color-notice-warning--default: #ffaa55;
  --color-notice-warning--text: #fafafa;
  --color-notice-warning--dark: #814a13;
  --color-notice-warning--background: #ffaa55;

  --color-notice-error--light: rgba(222, 51, 68, 0.4);
  --color-notice-error--default: #de3345;
  --color-notice-error--text: #fafafa;
  --color-notice-error--dark: #81131d;
  --color-notice-error--background: #de3345;

  --color-notice-info--light: rgba(23, 96, 179, 0.4);
  --color-notice-info--default: #1760b3;
  --color-notice-info--text: #fafafa;
  --color-notice-info--dark: #134681;
  --color-notice-info--background: #1760b3;
}

/* Typography */
@font-face {
  font-family: "lato";
  src: local("lato"),
    url(../../9919edff6283018571ad.ttf) format("truetype");
}

@font-face {
  font-family: "lato-bold";
  src: local("bato-bold"),
    url(../../5dd5aa0269395f0ea927.ttf) format("truetype");
}

@font-face {
  font-family: "lato-italic";
  src: local("bato-italic"),
    url(../../0b4ed00316a7940bfc3f.ttf) format("truetype");
}

@font-face {
  font-family: "lato-black";
  src: local("bato-black"),
    url(../../0b51cf32bbc2d8b8d840.ttf) format("truetype");
}

@font-face {
  font-family: "lato-light";
  src: local("bato-light"),
    url(../../bfc37ff1d5543ecd4ec6.ttf) format("truetype");
}

@font-face {
  font-family: "lato-thin";
  src: local("bato-thin"),
    url(../../01923cbbba31d9cb7f29.ttf) format("truetype");
}

.typography {
  font-family: lato, Arial, serif;
}

.typography-bold {
  font-family: lato-black, Arial, serif;
}

.typography-italic {
  font-family: lato-italic, Arial, serif;
}

.typography-black {
  font-family: lato-black, Arial, serif;
}

.typography-light {
  font-family: lato-light, Arial, serif;
}

.typography-xsmall {
  font-size: 12px;
}

.typography-small {
  font-size: 16px;
}

.typography-default {
  font-size: 18px;
}

.typography-medium {
  font-size: 20px;
}

.typography-large {
  font-size: 24px;
}

.typography-xlarge {
  font-size: 32px;
}

/* badge */
.badge {
  margin: 0.25rem;
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.0625rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.badge > svg {
  margin-right: 0.6rem;
}

.badge > p {
  text-transform: uppercase;
}

.badge--notice-default {
  color: var(--color-notice-default--text);
  background-color: var(--color-notice-default--background);
  border: 2px solid var(--color-base-02--light);
}

.badge--notice-error {
  color: var(--color-notice-error--text);
  background-color: var(--color-notice-error--background);
  border: 2px solid var(--color-notice-error--default);
}

.badge--notice-success {
  color: var(--color-notice-success--text);
  background-color: var(--color-notice-success--background);
  border: 2px solid var(--color-notice-success--default);
}

.badge--notice-warning {
  color: var(--color-notice-warning--text);
  background-color: var(--color-notice-warning--background);
  border: 2px solid var(--color-notice-warning--default);
}

.badge--notice-info {
  color: var(--color-notice-info--text);
  background-color: var(--color-notice-info--background);
  border: 2px solid var(--color-notice-info--default);
}

.badge--override-typography {
  margin: 0;
}

/* Button */
.button {
  background-color: #f0eeee;
  cursor: pointer;
  outline: none;
  border-radius: 1.25rem;
  margin: 0.5rem;
  justify-content: center;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  font-family: Black;
  text-transform: uppercase;
  transition: 0.2s;
  padding: 0.2rem 1.35rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.125rem solid var(--color-base-01);
  transition: 00.3s;
  letter-spacing: 0.0625rem;
}

.button--variant-icon {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 20px;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.button--override-typography {
  margin: 0.5rem;
}

.button:focus {
  outline-offset: -0.125rem;
  outline: 0.1875rem solid #3383c9;
}

.button > svg {
  margin-right: 0.75rem;
}

.button--size-xsmall {
  padding: 0.2rem 1.25rem;
}

.button--size-small {
  padding: 0.2rem 1.3rem;
}

.button--size-medium {
  padding: 0.25rem 1.5rem;
}

.button::first-letter {
  text-transform: capitalize;
}

.button--notice-default {
  border: 2px solid var(--color-base-02);
  background-color: var(--color-notice-default--background);
  color: var(--color-notice-default--text);
  box-shadow: 0px 0.375rem 0px 0px var(--color-base-02--light-shadow);
}

.button--notice-success {
  border: 4px solid var(--color-notice-success--default);
  color: var(--color-notice-success--text);
  background-color: var(--color-notice-success--background);
  box-shadow: 0px 0.375rem 0px 0px var(--color-notice-success--light);
}

.button--notice-primary {
  border: none;
  color: white;
  background: linear-gradient(
    var(--color-notice-primary--default),
    var(--color-notice-primary--dark)
  );
  border-image: linear-gradient(
      to right,
      var(--color-notice-primary--default),
      var(--color-notice-primary--dark)
    )
    1;

  box-shadow: 0px 0.375rem 0px 0px var(--color-notice-primary--light);
}

.button--notice-secondary {
  border: none;
  background: linear-gradient(
    var(--color-notice-secondary--default),
    var(--color-notice-secondary--dark)
  );
  border-image: linear-gradient(
      to right,
      var(--color-notice-secondary--default),
      var(--color-notice-secondary--dark)
    )
    1;

  box-shadow: 0px 0.375rem 0px 0px var(--color-notice-secondary--light);
}

.button--notice-default:hover {
  background: var(--color-base-02--light);
  color: var(--color-text--light);
}

.button--variant-outlined {
  border: 4px solid var(--color-base-02);
  background-color: transparent;
  color: var(--color-base-02);
}

.button--notice-primary.button--variant-outlined {
  border: 4px solid var(--color-notice-primary--default);
  background: none;
  color: var(--color-notice-primary--default);
}

.button--notice-primary:hover.button--variant-outlined {
  background: var(--color-notice-primary--default);
  color: var(--color-base-02--light);
}

.button--notice-secondary.button--variant-outlined {
  border: 4px solid var(--color-notice-secondary--default);
  background: none;
  color: var(--color-notice-secondary--default);
}

.button--notice-secondary:hover.button--variant-outlined {
  background: var(--color-notice-secondary--default);
  color: var(--color-base-02--light);
}

.button--notice-error.button--variant-outlined {
  border: 4px solid var(--color-notice-error--default);
  background-color: transparent;
  color: var(--color-notice-error--default);
}

.button--notice-info.button--variant-outlined {
  border: 4px solid var(--color-notice-info--default);
  background-color: transparent;
  color: var(--color-notice-info--default);
}

.button--notice-success.button--variant-outlined {
  border: 4px solid var(--color-notice-success--default);
  background-color: transparent;
  color: var(--color-notice-success--default);
}

.button--notice-warning.button--variant-outlined {
  border: 4px solid var(--color-notice-warning--default);
  background-color: transparent;
  color: var(--color-notice-warning--default);
}

.button--notice-disabled.button--variant-outlined {
  border: 4px solid var(--color-base-02);
  background-color: transparent;
  color: var(--color-base-02);
}

.button--notice-primary.button--variant-text {
  border: none;
  background: none;
  color: var(--color-notice-primary--default);
  box-shadow: none;
}

.button--notice-secondary.button--variant-text {
  border: none;
  background: none;
  color: var(--color-notice-secondary--default);
  box-shadow: none;
}

.button--notice-primary:hover.button--variant-text {
  background: var(--color-notice-primary--default);
  color: var(--color-base-02--light);
}

.button--notice-secondary:hover.button--variant-text {
  background: var(--color-notice-secondary--default);
  color: var(--color-base-02--light);
}

.button--notice-default.button--variant-text {
  border: none;
  background-color: transparent;
  color: var(--color-base-02);
  box-shadow: none;
}

.button--notice-error.button--variant-text {
  border: none;
  background-color: transparent;
  color: var(--color-notice-error--default);
  box-shadow: none;
}

.button--notice-info.button--variant-text {
  border: none;
  background-color: transparent;
  color: var(--color-notice-info--default);
  box-shadow: none;
}

.button--notice-success.button--variant-text {
  border: none;
  background-color: transparent;
  color: var(--color-notice-success--default);
  box-shadow: none;
}

.button--notice-warning.button--variant-text {
  border: none;
  background-color: transparent;
  color: var(--color-notice-warning--default);
  box-shadow: none;
}

.button--notice-disabled.button--variant-text {
  border: none;
  background-color: transparent;
  color: var(--color-base-02);
  box-shadow: none;
}

.button--notice-error {
  border: 4px solid var(--color-notice-error--default);
  color: var(--color-notice-error--text);
  background-color: var(--color-notice-error--background);
  box-shadow: 0px 0.375rem 0px 0px var(--color-notice-error--light);
}

.button--notice-default:hover {
  background: var(--color-base-02--light);
  color: var(--color-text--light);
}

.button--notice-error:hover {
  background: var(--color-notice-error--default);
  color: var(--color-base-02--light);
}

.button--notice-error--variant-outlaned {
  border: 0.125rem solid var(--color-notice-error);
}

.button--notice-error--variant-contained {
  background: var(--color-notice-error--default);
  color: var(--color-base-02--light);
}

.button--notice-success:hover {
  background: var(--color-notice-success--default);
  color: var(--color-base-02--light);
}

.button--notice-success--variant-outlaned {
  border: 0.125rem solid var(--color-notice-success--default);
}

.button--notice-success--variant-contained {
  background: var(--color-notice-success--default);
  color: white;
}

.button--notice-warning {
  border: 4px solid var(--color-notice-warning--default);
  color: var(--color-notice-warning--text);
  background-color: var(--color-notice-warning--background);
  box-shadow: 0px 0.375rem 0px 0px var(--color-notice-warning--light);
}

.button--notice-warning:hover {
  background: var(--color-notice-warning--default);
  color: var(--color-base-02--light);
}

.button--notice-warning--variant-outlaned {
  border: 0.125rem solid var(--color-notice-warning--default);
}

.button--notice-warning--variant-contained {
  background: var(--color-notice-warning--default);
  color: white;
}

.button--notice-info {
  border: 4px solid var(--color-notice-info--default);
  color: var(--color-notice-info--text);
  background-color: var(--color-notice-info--background);
  box-shadow: 0px 0.375rem 0px 0px var(--color-notice-info--light);
}

.button--notice-info:hover {
  background: var(--color-notice-info--default);
  color: var(--color-base-02--light);
}

.button--notice-info:active,
.button--notice-error:active,
.button--notice-warning:active,
.button--notice-success:active,
.button--notice-default:active,
.button--notice-secondary:active,
.button--notice-primary:active {
  box-shadow: none;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
  transition: 0.3s;
}

.button--notice-disabled {
  color: #646060;
  opacity: 0.32;
  cursor: not-allowed;
}

.button--block {
  width: 100%;
}

.button--block > svg {
  margin-right: 1rem;
}

.button--notice-disabled--variant-outlaned {
  border: 0.125rem solid #646060;
}

[class*="--variant-outlaned"],
[class*="--variant-contained"] {
  box-shadow: none;
  background-color: none;
}

/* link */
.link {

}
/* progressBar */

.progressBar {
  width: 100%;
  background: var(--color-base-02--light-shadow);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(53, 69, 122, 0.4);
  position: relative;
  overflow: hidden;
}

.progressBar--size-xsmall {
  height: 8px;
}

.progressBar--size-small {
  height: 12px;
}

.progressBar--size-default {
  height: 16px;
}

.progressBar--size-medium {
  height: 20px;
}

.progressBar--content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 1ms;
}

.progressBar--notice-default {
  background: var(--color-text--light);
}

.progressBar--notice-primary {
  background: linear-gradient(
    var(--color-notice-primary--default),
    var(--color-notice-primary--dark)
  );
}

.progressBar--notice-secondary {
  background: linear-gradient(
    var(--color-notice-secondary--default),
    var(--color-notice-secondary--dark)
  );
}

.progressBar--notice-success {
  background: linear-gradient(
    var(--color-notice-success--default),
    var(--color-notice-success--dark)
  );
}

.progressBar--notice-warning {
  background: linear-gradient(
    var(--color-notice-warning--default),
    var(--color-notice-warning--dark)
  );
}

.progressBar--notice-error {
  background: linear-gradient(
    var(--color-notice-error--default),
    var(--color-notice-error--dark)
  );
}

.progressBar--notice-info {
  background: linear-gradient(
    var(--color-notice-info--default),
    var(--color-notice-info--dark)
  );
}

/* alert */
.alert {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.alert--content-top {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.alert--content-top > svg {
  margin-right: 1rem;
}

.alert--content-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-left: 1rem;
  justify-content: center;
}

.alert--content-right > button > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.alert--content-bottom {
  display: flex;
  align-items: center;
}

.alert--overide-typography {
  margin: 0rem 1rem 0rem 1.5rem;
  min-width: 35px;
  text-align: center;
}

.alert--notice-default {
  border-color: var(--color-text--light);
  background: #f0f0f0;
}

.alert--notice-default > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-text--light);
}

.alert--notice-warning > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-warning--dark);
}

.alert--notice-success > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-success--dark);
}

.alert--notice-error > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-error--dark);
}

.alert--notice-info > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-info--dark);
}

.alert--notice-success {
  border-color: var(--color-notice-success--dark);
  background: #c3e9d3;
}

.alert--notice-error {
  border-color: var(--color-notice-error--dark);
  background: #eeb5b5;
}

.alert--notice-info {
  border-color: var(--color-notice-info--dark);
  background: #cfe2ff;
}

.alert--notice-warning {
  border-color: var(--color-notice-warning--dark);
  background: #f0d1b6;
}

.alert--notice-default svg {
  color: var(--color-text--light);
}

.alert--notice-success svg {
  color: var(--color-notice-success--dark);
}

.alert--notice-error svg {
  color: var(--color-notice-error--dark);
}

.alert--notice-info svg {
  color: var(--color-notice-info--dark);
}

.alert--notice-warning svg {
  color: var(--color-notice-warning--dark);
}

.alert--status-fadeOut {
  display: none;
}

/* Input */
.input {
  background-color: #f0eeee;
  font-size: 1.4rem;
  border-radius: 1.25rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
}


/*# sourceMappingURL=main.dbc6a6e4.css.map*/