/* alert */
.alert {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.alert--content-top {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.alert--content-top > svg {
  margin-right: 1rem;
}

.alert--content-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-left: 1rem;
  justify-content: center;
}

.alert--content-right > button > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.alert--content-bottom {
  display: flex;
  align-items: center;
}

.alert--overide-typography {
  margin: 0rem 1rem 0rem 1.5rem;
  min-width: 35px;
  text-align: center;
}

.alert--notice-default {
  border-color: var(--color-text--light);
  background: #f0f0f0;
}

.alert--notice-default > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-text--light);
}

.alert--notice-warning > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-warning--dark);
}

.alert--notice-success > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-success--dark);
}

.alert--notice-error > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-error--dark);
}

.alert--notice-info > .alert--content-top > .alert--content-right {
  border-left: 0.0625rem solid var(--color-notice-info--dark);
}

.alert--notice-success {
  border-color: var(--color-notice-success--dark);
  background: #c3e9d3;
}

.alert--notice-error {
  border-color: var(--color-notice-error--dark);
  background: #eeb5b5;
}

.alert--notice-info {
  border-color: var(--color-notice-info--dark);
  background: #cfe2ff;
}

.alert--notice-warning {
  border-color: var(--color-notice-warning--dark);
  background: #f0d1b6;
}

.alert--notice-default svg {
  color: var(--color-text--light);
}

.alert--notice-success svg {
  color: var(--color-notice-success--dark);
}

.alert--notice-error svg {
  color: var(--color-notice-error--dark);
}

.alert--notice-info svg {
  color: var(--color-notice-info--dark);
}

.alert--notice-warning svg {
  color: var(--color-notice-warning--dark);
}

.alert--status-fadeOut {
  display: none;
}
