.App {
  text-align: center;
}

.App-section--container {
  display: flex;
  min-height: 100vh;
  width: cal(100% - 4rem);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.App-section--container__content {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
  margin: 1rem;
}

.App-header {
  opacity: 1;
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(
    45deg,
    #00002e 0,
    #202038 0.8px,
    #000000 0,
    #000000 50%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
