:root {
  --color-base-01: #202028;
  --color-base-01--dark: #000000;
  --color-base-01--light: #3c3c47;

  --color-base-02: #d6dad9;
  --color-base-02--dark: #afafaf;
  --color-base-02--light: #fafafa;
  --color-base-02--light-shadow: rgba(250, 250, 250, 0.4);

  --color-text--dark: #587193;
  --color-text--light: #253c5b;

  --color-notice-primary--light: rgba(14, 101, 138, 0.4);
  --color-notice-primary--default: #0e658a;
  --color-notice-primary--dark: #09445d;
  --color-notice-secondary--light: rgba(243, 197, 47, 0.4);
  --color-notice-secondary--default: #f3c52f;
  --color-notice-secondary--dark: #e79510;

  --color-notice-default: #fafafa;
  --color-notice-default--background: #fafafa;
  --color-notice-default--text: #253c5b;

  --color-notice-success--light: rgba(35, 165, 122, 0.4);
  --color-notice-success--default: #23a57a;
  --color-notice-success--text: #fafafa;
  --color-notice-success--dark: #0f6246;
  --color-notice-success--background: #23a57a;

  --color-notice-warning--light: rgba(255, 170, 85, 0.4);
  --color-notice-warning--default: #ffaa55;
  --color-notice-warning--text: #fafafa;
  --color-notice-warning--dark: #814a13;
  --color-notice-warning--background: #ffaa55;

  --color-notice-error--light: rgba(222, 51, 68, 0.4);
  --color-notice-error--default: #de3345;
  --color-notice-error--text: #fafafa;
  --color-notice-error--dark: #81131d;
  --color-notice-error--background: #de3345;

  --color-notice-info--light: rgba(23, 96, 179, 0.4);
  --color-notice-info--default: #1760b3;
  --color-notice-info--text: #fafafa;
  --color-notice-info--dark: #134681;
  --color-notice-info--background: #1760b3;
}
